@use "../global/variables" as var;

.about-page {
  &__intro {
    background-color: var.$colorWhite;
  }

  &__photo-list {
    background-color: var.$colorGrayTwo;
  }

  &__skills-list {
    background-color: var.$colorWhite;
  }

  &__info {
    background-color: var.$colorGrayTwo;
  }

  &__info-facts {
    background-color: var.$colorWhite;
  }

  &__info-into {
    background-color: var.$colorGrayTwo;
  }

  &__my-way {
    background-color: var.$colorWhite;
  }
}
