@use "../global/variables" as var;

.contacts-page {
  &__intro {
    background-color: var.$colorWhite;
  }

  &__socials {
    background-color: var.$colorGrayTwo;
  }

  &__contacts {
    background-color: var.$colorWhite;
  }
}
