@use "../global/variables" as var;

.main-page {
  &__intro {
    background-color: var.$colorWhite;
  }

  &__quote {
    background-color: var.$colorGrayTwo;
  }

  &__works {
    background-color: var.$colorWhite;
  }
}
