.projects-detail-page {
  &__intro {
    background-color: $colorWhite;
  }

  &__project-info {
    background-color: $colorGrayTwo;
  }

  &__project-images {
    background-color: $colorWhite;
  }
}
