@use "../global/variables" as var;

.projects-detail-page {
  &__intro {
    background-color: var.$colorWhite;
  }

  &__project-technologies {
    background-color: var.$colorGrayTwo;
  }

  &__project-info {
    background-color: var.$colorWhite;
  }
}
