@use "./global/fonts";
@use "./global/variables";
@use "./global/settings";
@use "./global/animations";

@use "./blocks/button";
@use "./blocks/categories";
@use "./blocks/contacts";
@use "./blocks/feedback";
@use "./blocks/footer";
@use "./blocks/form";
@use "./blocks/header";
@use "./blocks/info-facts";
@use "./blocks/info-into";
@use "./blocks/info";
@use "./blocks/intro";
@use "./blocks/lightgallery";
@use "./blocks/link";
@use "./blocks/my-way";
@use "./blocks/navigation";
@use "./blocks/not-found";
@use "./blocks/page";
@use "./blocks/photo-list";
@use "./blocks/project-info";
@use "./blocks/project-technologies";
@use "./blocks/quote";
@use "./blocks/section";
@use "./blocks/skills-list";
@use "./blocks/slider";
@use "./blocks/socials";
@use "./blocks/sorting";
@use "./blocks/technologies";
@use "./blocks/works";
@use "./pages/about-page";
@use "./pages/contacs-page";
@use "./pages/main-page";
@use "./pages/projects-detail-page";
@use "./pages/projects-page";
