@use "../global/variables" as var;

.button {
  display: block;
  padding: 15px 50px;

  font-size: 20px;
  font-weight: 700;

  transition: all 0.4s ease-in-out;
  cursor: pointer;

  @media (max-width: var.$desktop-mid-width) {
    font-size: 18px;
  }
  @media (max-width: var.$tablet-max-width) {
    font-size: 16px;
  }

  &--shadow {
    color: var.$colorWhite;

    box-shadow: var.$buttonShadow;
    border-color: var.$colorBlackThree;
    border-radius: 20px;

    will-change: transform, box-shadow;

    &:hover, &:active {
      color: var.$colorBlackThree;

      box-shadow: var.$buttonShadowActive;

      transform: scale(1.05);
    }
  }
}
