@use "../global/variables" as var;

.contacts {
  z-index: 9;

  &:last-of-type {
    z-index: 8;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    @media (max-width: var.$mobile-mid-width) {
      flex-direction: column;
    }
  }

  &__item {
    opacity: 0;
    transform: translateY(150%);

    &.animate {
      animation: itemShow 0.5s ease-in-out forwards;
    }

    &.pointing {
      pointer-events: auto;
    }
  }

  &__item-link {
    display: flex;
    align-items: center;
    gap: 30px;

    transition: all 0.4s ease-in-out;
    will-change: filter, transform;

    &:hover, &:active {
      filter: var.$dropShadow;

      transform: scale(1.05);
    }
  }

  &__item-icon {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    fill: var.$colorBlackThree;
    stroke: var.$colorBlackThree;

    @media (max-width: var.$mobile-max-width) {
      width: 40px;
      height: 40px;
    }
  }

  &__item-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }
}
