@use "../global/variables" as var;

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    max-width: var.$desktop-mid-width;
    margin: 0 auto;
    padding: 10px 100px;

    @media (max-width: var.$desktop-mid-width) {
      gap: 30px;
      padding: 10px 80px;
    }
    @media (max-width: var.$tablet-max-width) {
      padding: 10px 40px;
    }
    @media (max-width: var.$mobile-max-width) {
      padding: 10px 20px;
    }
  }

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;

    transition: all 0.4s ease-in-out;
    will-change: opacity;

    &:hover, &:active {
      opacity: 0.6;
    }
  }

  &__logo-image {
    width: 60px;
    height: 60px;

    fill: var.$colorWhite;

    @media (max-width: var.$tablet-max-width) {
      width: 50px;
      height: 50px;
    }
    @media (max-width: var.$mobile-mid-width) {
      width: 40px;
      height: 40px;
    }
  }

  &__logo-text {
    width: auto;
    height: 30px;

    fill: var.$colorWhite;

    @media (max-width: var.$mobile-mid-width) {
      display: none;
    }
  }

  &__navigation {
    box-sizing: border-box;

    font-size: 20px;
    font-weight: 400;

    @media (max-width: var.$desktop-mid-width) {
      font-size: 18px;
    }
    @media (max-width: var.$tablet-max-width) {
      position: fixed;
      inset: 0;
      z-index: 100;

      display: block;
      width: 100%;
      height: 100vh;
      padding: 100px 20px;

      font-size: 28px;
      color: var.$colorWhite;

      background-color: var.$colorBlackThree;

      transition: all 0.6s ease-in-out;
      transform: translate(-110%, 80px);

      @media (max-width: var.$tablet-max-width) {
        transform: translate(-110%, 70px);
      }
      @media (max-width: var.$mobile-mid-width) {
        transform: translate(-110%, 60px);
      }

      &--show {
        transform: translate(0, 80px);

        @media (max-width: var.$tablet-max-width) {
          transform: translate(0, 70px);
        }
        @media (max-width: var.$mobile-mid-width) {
          transform: translate(0, 60px);
        }
      }
    }
  }

  &__socials {
    @media (max-width: var.$mobile-max-width) {
      display: none;
    }
  }

  &__lang-switcher {
    display: block;

    font-size: 20px;
    color: var.$colorWhite;

    transition: all 0.4s ease-in-out;
    will-change: opacity;

    &:hover, &:active {
      opacity: 0.6;
    }

    @media (max-width: var.$desktop-mid-width) {
      font-size: 18px;
    }
  }

  &__menu-button {
    display: none;

    @media (max-width: var.$tablet-max-width) {
      position: relative;

      display: block;
      width: 35px;
      height: 25px;

      cursor: pointer;
      transition: all 0.4s ease-in-out;
      will-change: opacity;

      &:hover, &:active {
        opacity: 0.4;
      }

      &--open {
        .header__menu-button-icon {
          background-color: transparent;

          &::before {
            top: calc(50% - 1px);

            transform: rotate(45deg);
            transform-origin: center;
          }

          &::after {
            top: calc(50% - 1px);

            transform: rotate(-45deg);
            transform-origin: center;
          }
        }
      }
    }

    @media (max-width: var.$mobile-mid-width) {
      width: 30px;
      height: 20px;
    }
  }

  &__menu-button-icon {
    display: block;
    width: 100%;
    height: 2px;

    background-color: var.$colorWhite;
    border-radius: 1px;

    transition: all 0.4s ease-in-out;
    will-change: transform, opacity;

    &::before, &::after {
      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var.$colorWhite;
      border-radius: 1px;

      transition: all 0.4s ease-in-out;
      will-change: transform, opacity;
      content: "";
    }

    &::before {
      top: 0;

      transition: all 0.4s ease-in-out;
      will-change: transform, opacity;
    }

    &::after {
      top: calc(100% - 2px);

      transition: all 0.4s ease-in-out;
      will-change: transform, opacify;
    }
  }
}
