@use "../global/variables" as var;

.info {
  z-index: 7;

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__text {
    font-size: 20px;
    line-height: 1.2;
    text-indent: 20px;

    opacity: 0;

    @media (max-width: var.$desktop-mid-width) {
      font-size: 18px;
    }
    @media (max-width: var.$tablet-max-width) {
      font-size: 16px;
    }

    &:nth-of-type(odd) {
      transform: translateX(-100%);
    }

    &:nth-of-type(even) {
      transform: translateX(100%);
    }

    &.animate {
      &:nth-of-type(odd) {
        animation: elementOdd 1s ease-in-out forwards;
      }

      &:nth-of-type(even) {
        animation: elementEven 1s ease-in-out forwards;
      }
    }
  }

  &__text-link {
    text-decoration: underline;

    transition: all 0.4s ease-in-out;
    will-change: opacity;

    &:hover, &:active {
      text-decoration: underline;

      opacity: 0.6;
    }
  }
}
