@use "../global/variables" as var;

.intro {
  z-index: 10;

  &__wrapper {
    position: relative;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-height: 450px;

    @media (max-width: var.$desktop-mid-width) {
      padding: 80px;
    }
    @media (max-width: var.$tablet-max-width) {
      min-height: 400px;
      padding: 40px;
    }
    @media (max-width: var.$mobile-max-width) {
      grid-template-columns: 1fr;
      min-height: 350px;
      padding: 20px;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 5;

    display: block;
    width: 40px;
    height: 40px;

    opacity: 0;

    transform: translate(-50%, -100%);

    animation: introScrollShow 1s ease-in-out 2s forwards;

    content: "";
  }

  &__content {
    z-index: 2;

    display: flex;
    flex-direction: column;

    width: auto;
    height: max-content;
    padding: 20px;

    opacity: 0;

    transform: translateX(-50vw);

    animation: introTextShow 1s ease-in-out 0.5s forwards;

    .intro__wrapper--main & {
      background: rgba(var.$colorWhite, 0.1);
      box-shadow: var.$boxShadowGlass;
      border: 1px solid rgba(var.$colorWhite, 0.3);
      border-radius: 10px;
      backdrop-filter: blur(10px);
    }
  }

  &__title {
    margin-bottom: 50px;

    font-size: 102px;
    font-weight: 700;
    line-height: 1;
    color: var.$colorBlackThree;

    user-select: none;

    @media (max-width: var.$desktop-mid-width) {
      margin-bottom: 40px;
      font-size: 90px;
    }
    @media (max-width: var.$tablet-max-width) {
      margin-bottom: 20px;
      font-size: 72px;
    }
    @media (max-width: var.$mobile-max-width) {
      margin-bottom: 20px;
      font-size: 48px;
    }
  }

  &__text {
    user-select: none;

    &--first {
      margin-bottom: 15px;

      font-size: 34px;
      font-weight: 500;
      line-height: 1.3;
      color: var.$colorGray;

      @media (max-width: var.$desktop-mid-width) {
        font-size: 28px;
      }
      @media (max-width: var.$mobile-mid-width) {
        font-size: 22px;
      }
    }

    &--second {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3;
      color: var.$colorBlackThree;

      @media (max-width: var.$desktop-mid-width) {
        font-size: 20px;
      }
      @media (max-width: var.$tablet-max-width) {
        font-size: 18px;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;

    opacity: 0;

    animation: introMainBgShow 1s ease-in-out forwards;

    @media (max-width: var.$mobile-mid-width) {
      left: -50%;
    }
  }

  &__image {
    z-index: 1;

    width: 100%;
    height: auto;
    max-height: 700px;
    margin: auto 0;

    opacity: 0;

    transform: translateY(150%) rotate(90deg);

    animation: introImageShow 1s ease-in-out 1s forwards;

    object-fit: contain;

    @media (max-width: var.$tablet-max-width) {
      max-height: 500px;
    }
  }
}
