@use "../global/variables" as var;

.my-way {
  z-index: 4;

  &__list {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px 60px;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;

    opacity: 0;
    background-color: var.$colorGrayFive;

    box-shadow: var.$boxShadowCard;
    border-radius: 10px;

    @media (max-width: var.$mobile-mid-width) {
      margin-top: 40px;
    }

    &::before {
      position: absolute;
      top: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      height: 20px;
      padding: 5px;

      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: var.$colorBlackThree;

      content: attr(data-date);

      @media (max-width: var.$mobile-mid-width) {
        top: -30px;
      }
    }

    &:nth-of-type(odd) {
      margin-right: 25%;

      transform: translateX(-100%);

      @media (max-width: var.$mobile-max-width) {
        margin-right: 150px;
      }
      @media (max-width: var.$mobile-mid-width) {
        margin-right: unset;
      }

      &::before {
        right: -30px;

        transform: translate(100%, -50%);

        @media (max-width: var.$mobile-max-width) {
          right: -15px;
        }
        @media (max-width: var.$mobile-mid-width) {
          right: unset;

          transform: translate(0, -50%);
        }
      }
    }

    &:nth-of-type(even) {
      margin-left: 25%;

      transform: translateX(100%);

      @media (max-width: var.$mobile-max-width) {
        margin-left: 150px;
      }
      @media (max-width: var.$mobile-mid-width) {
        margin-left: unset;
      }

      &::before {
        left: -30px;

        transform: translate(-100%, -50%);

        @media (max-width: var.$mobile-max-width) {
          left: -15px;
        }
        @media (max-width: var.$mobile-mid-width) {
          left: unset;

          transform: translate(0, -50%);
        }
      }
    }

    &.animate {
      &:nth-of-type(odd) {
        animation: elementOdd 1s ease-in-out forwards;
      }

      &:nth-of-type(even) {
        animation: elementEven 1s ease-in-out forwards;
      }
    }
  }

  &__item-text {
    font-size: 20px;
    line-height: 1.2;
  }

  &__item-text-link {
    text-decoration: underline;

    transition: all 0.4s ease-in-out;

    &:hover, &:active {
      text-decoration: underline;

      opacity: 0.6;
    }
  }
}
