@use "../global/variables" as var;

.page {
  &--fixed {
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
    -webkit-overflow-scrolling: none;
  }

  &__body {
    height: 100%;

    font-family: var.$font-main;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: var.$tablet-max-width) {
      font-size: 16px;
    }
    @media (max-width: var.$mobile-max-width) {
      font-size: 14px;
    }
  }

  &__header {
    position: fixed;
    z-index: 100;

    width: 100%;

    color: var.$colorWhite;

    background-color: var.$colorBlackTwo;

    transform: translateY(-100%);

    animation: headerShow 1s ease-in-out forwards;
  }

  &__main {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-top: 80px;

    @media (max-width: var.$tablet-max-width) {
      margin-top: 70px;
    }
    @media (max-width: var.$mobile-mid-width) {
      margin-top: 60px;
    }
  }

  &__footer {
    margin: auto 0 0;

    color: var.$colorBlackThree;

    opacity: 0;
    background-color: var.$colorGraySeven;

    box-shadow: var.$boxShadowSection;
    transform: translateY(-100%);

    animation: footerShow 1s ease-in-out forwards;
  }
}
