@use "../global/variables" as var;

.photo-list {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 250px;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;

    background-color: var.$colorWhite;
    border-radius: 10px;
    box-shadow: var.$boxShadowCard;

    transition: all 0.4s ease-in-out;
    cursor: pointer;

    &:hover, &:active {
      box-shadow: var.$boxShadowCardHover;
      transform: scale(1.05);
    }

    @media (max-width: var.$tablet-max-width) {
      height: 350px;
    }
    @media (max-width: var.$mobile-max-width) {
      height: 400px;
    }
  }

  &__item-image {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 5px;
    object-fit: cover;
  }
}
