@use "../global/variables" as var;

.project-info {
  z-index: 8;

  &__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;

    @media (max-width: var.$tablet-max-width) {
      grid-template-columns: 1fr;
    }
  }

  &__features-title {
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 700;
    color: var.$colorBlackThree;

    @media (max-width: var.$desktop-mid-width) {
      font-size: 22px;
    }
    @media (max-width: var.$mobile-mid-width) {
      font-size: 20px;
    }
  }

  &__features-description {
    margin-left: 40px;

    font-size: 20px;
    color: var.$colorGray;

    @media (max-width: var.$desktop-mid-width) {
      font-size: 18px;
    }
    @media (max-width: var.$tablet-max-width) {
      font-size: 16px;
    }
  }

  &__features-description-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__features-description-item {
    list-style-type: circle;

    opacity: 0;
    transform: translateX(100%);

    &.animate {
      animation: featuresShow 0.5s ease-in-out forwards;
    }
  }

  &__links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  &__links-item {
    opacity: 0;
    transform: translateY(150%);

    &.animate {
      animation: itemShow 0.5s ease-in-out forwards;
    }

    &.pointing {
      pointer-events: auto;
    }
  }
}
