@use "../global/variables" as var;

.quote {
  &__text {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    background-color: var.$colorWhite;
    border-radius: 10px;
    box-shadow: var.$boxShadowCard;
  }
}
