@use "../global/variables" as var;

.quotes-list {
  &__item {
    display: block;
    height: auto;
    padding: 20px;
    box-sizing: border-box;

    background-color: var.$colorWhite;
    border-radius: 10px;
    box-shadow: var.$boxShadowCard;
  }

  &__item-text {
    font-size: 20px;
    line-height: 1.2;
  }
}
