@use "../global/variables" as var;

.section {
  display: block;

  box-shadow: var.$boxShadowSection;

  &__wrapper {
    position: relative;
    overflow: hidden;

    max-width: var.$desktop-mid-width;
    margin: 0 auto;
    padding: 30px 100px 70px;

    @media (max-width: var.$desktop-mid-width) {
      padding: 30px 80px 70px;
    }
    @media (max-width: var.$tablet-max-width) {
      padding: 30px 40px 70px;
    }
    @media (max-width: var.$mobile-max-width) {
      padding: 20px 20px 40px;
    }

    &.intro__wrapper--main, &.intro__wrapper--about {
      padding-bottom: 0;
    }
  }

  &__title {
    position: relative;
    width: max-content;
    margin: 0 auto 30px;

    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: var.$colorGray;

    user-select: none;

    @media (max-width: var.$mobile-max-width) {
      margin: 0 auto 20px;
    }

    &::before, &::after {
      position: absolute;
      top: 50%;
      z-index: 0;

      width: 200px;
      height: 1px;

      background-color: var.$colorGrayFour;

      content: "";
      transform: translateY(-50%);
    }

    &::before {
      right: calc(100% + 20px);
    }

    &::after {
      left: calc(100% + 20px);
    }
  }
}
