@use "../global/variables" as var;

.skills-list {
  z-index: 8;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;

    opacity: 0;
    transform: translateY(150%);

    &.animate {
      animation: itemShow 0.5s ease-in-out forwards;
    }

    &.pointing {
      pointer-events: auto;
    }
  }

  &__item-link {
    display: flex;
    align-items: center;
    padding: 5px;

    filter: var.$dropShadow;
    -webkit-filter: var.$dropShadow;

    will-change: filter;
    transition: all 0.4s ease-in-out;

    &:hover, &:active {
      filter: var.$dropShadowHover;

      transform: scale(1.05);
    }
  }

  &__item-icon {
    box-sizing: border-box;
    width: 80px;
    height: 60px;
  }
}
