@use "../global/variables" as var;

.socials {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__item-link {
    position: relative;

    display: flex;
    align-items: center;
    padding: 5px;

    transition: all 0.4s ease-in-out;
    will-change: opacity;

    &:hover, &:active {
      opacity: 0.6;
    }
  }

  &__item-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    color: var.$colorWhite;
  }
}
