@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("/public/fonts/Montserrat-Variable.woff2") format("woff2"),
    url("/public/fonts/Montserrat-Variable.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("/public/fonts/Montserrat-Italic-Variable.woff2") format("woff2"),
    url("/public/fonts/Montserrat-Italic-Variable.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
